################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Common/obj
/SettingsWindow/obj
/Common/bin
/SettingsWindow/bin
*.suo
